/*----------------------------------------------------------------------------------------------------------*/
/* ---------------------               Style sheet for the website            ------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


/*********************************************************************/

html{
    scroll-behavior: smooth;
}



body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;

}


section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 70vh;
}

div{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 40vh;

}

/*********************************************************************/


.profile-photo {
    width: 500px;
    height: 500px; 
    border-radius: 45%; 
}


/* for name and title division : */

.name-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    animation: scrollLeft 9s linear infinite;
}

.name-title h1 {
    font-weight: bold; 
    font-size:100px;  
    color: #497199;
    margin: 0;

    
}

@keyframes scrollLeft {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-3%); }
    50% { transform: translateX(0); }
    75% { transform: translateX(3%); }
}



.name-title .title {
    font-size: 82px; 
    font-weight: bold; 
    color: #0b7738;
    margin: 0;
}




a {
    text-decoration: none; 
    color: inherit; 
}

a:hover, a:focus {
    text-decoration: underline; 
}



/* For transition*/

.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 2s;
}










/*********************************************************************/




.animated {
    opacity: 0;
    transition: opacity 3s ease-out, transform 1s ease-out;
}


.slide-in {
    transform: translateX(-100%);
}


.fade-in {
    transform: translateY(50%);
}


.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}




/*********************************************************************/

/* Specific Font sizes */
.hidden .coordinates{
    font-size: 72px;
}

.hidden .hidden{
    font-size: 28px;
}

.pro-profile h4{
    text-align: center; 
    font-size: 72px;
}
.pro-profile h4{
    text-align: center; 
    font-size: 72px;
}

.animated h4{
    text-align: center; 
    font-size: 72px;
}

.formations h2{
    text-align: center; 
    font-size: 72px;
}

.formations .formations-container{
    font-size: 28px;
}

.typewriter_0 h5{
    font-size: 36px;
}

.competences h2{
    font-size: 72px;
}

.competence-item h3{
    font-size: 36px;
}


/*********************************************************************/
/* For the photos */

.ipest-photo {
    scale: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    border-radius: 20%; 
}




.lycee-photo {
    scale: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    border-radius: 20%; 
}
/*********************************************************************/


/* Professional profile and Career Path container styles */



.pro-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
}


.pro-profile {
    flex: 1; 
    margin: 0 0px; 
    max-width: 400px; 
}


.pro-container .animated {
    flex: 1; 
    margin: 0 40px;
    max-width: 800px; 
}



#typewriter {
    font-size: 28px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 


    color: #ffffff;
    background-color: #101018;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 100px rgba(105, 3, 3, 0.877);
    line-height: 1.6;
    margin: 10px 0;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
}




.typewriter_0 {
    font-size: 28px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 


    color: #ffffff;
    background-color: #101018;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 100px rgba(5, 3, 105, 0.877);
    line-height: 1.6;
    margin: 10px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
}



.highlight{
    color:#d69d00
}



/*********************************************************************************************/

/* Add a go top button*/

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #824dd6;
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
    cursor: pointer; 
}

.gotopbtn:hover {
    background: #6231b1;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}






/*****************************************************************************************/

/* Now for formation we have to add subjects */

.subject-list {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.9); 
    color: #333;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: all 0.3s ease, opacity 0.5s, transform 0.5s;
    max-height: 200px; 
    max-width: 500px;
    left:0;
  
}



.subject-list.show {
    display: block;
    overflow-y: auto; 
    left:0;
}

.subject-list .subject {
    padding: 2px 2px; 
    font-size: 24px; 
    margin-bottom: 0px; 
    line-height: 1.6;
    border-bottom: none; 
}

.clickable-image {
    cursor: pointer;
}




/*********************************************************************************************/

/* The skills part*/

.competences-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.competence-item {
    flex-basis: 45%;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #222121; 
    font-size: 28px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transition-delay: 0s;
}

.competence-item.show {
    opacity: 1;
    transform: translateY(0);
}

.competence-item h3 {
    margin-top: 0;
}

/* Responsive design */
@media (max-width: 600px) {
    .competence-item {
        flex-basis: 100%;
    }
}

.competence-item:nth-child(1).show {
    transition-delay: 0.3s;
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.5); 
}

.competence-item:nth-child(2).show {
    transition-delay: 0.6s;
    box-shadow: 0 10px 20px rgba(40, 167, 69, 0.5); 
}

.competence-item:nth-child(3).show {
    transition-delay: 0.9s;
    box-shadow: 0 10px 20px rgba(255, 193, 7, 0.5); 
}

.competence-item:nth-child(4).show {
    transition-delay: 1.2s;
    box-shadow: 0 10px 20px rgba(220, 53, 69, 0.5); 
}



