/*----------------------------------------------------------------------------------------------------------*/
/* ---------------------               Style sheet for the website            ------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


/*********************************************************************/
body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
}


section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}

/*********************************************************************/


.profile-photo {
    width: 500px;
    height: 500px; 
    border-radius: 45%; 
}


/* for name and title division : */

.name-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.name-title h1 {
    font-weight: bold; 
    font-size:100px;  
    color: #497199;
    margin: 0;
}

.name-title .title {
    font-size: 100px; 
    font-weight: bold; 
    color: #0b7738;
    margin: 0;
}


/* for contact info division : */

.contact-info p, .bio {
    margin: 20px 20px;
    font-size: 16px;
}



.contact-info .coordinates{
    font-size: 24px;
    font-weight: bold;
    color: #868686;

}


a {
    text-decoration: none; 
    color: inherit; 
}

a:hover, a:focus {
    text-decoration: underline; 
}



/* For transition*/

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform:translateX(0) ;
}

/*********************************************************************/
