/*----------------------------------------------------------------------------------------------------------*/
/* ---------------------               Style sheet for the website            ------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


/*********************************************************************/

html{
    scroll-behavior: smooth;
}


body{
    background: linear-gradient(#131316, rgb(6, 9, 44)) ;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;

}


.main-nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0.69vw 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: auto;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 0.69vw 1.04vw;
    font-size: 1.39vw;
    font-weight: bold;
}

.main-nav a:hover {
    background-color: #555;
}





section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 70vh;
}

div{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 40vh;

}

/*********************************************************************/


.profile-photo {
    width: 34.72vw;
    height: 34.72vw; 
    border-radius: 45%;
}


/* for name and title division : */

.name-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    animation: scrollLeft 9s linear infinite;
}

.name-title h1 {
    font-weight: bold; 
    font-size:8vw;  
    color: #497199;
    margin: 0;

    
}

@keyframes scrollLeft {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-3%); }
    50% { transform: translateX(0); }
    75% { transform: translateX(3%); }
}



.name-title .title {
    font-size: 6vw; 
    font-weight: bold; 
    color: #0b7738;
    margin: 0;
}




a {
    text-decoration: none; 
    color: inherit; 
}

a:hover, a:focus {
    text-decoration: underline; 
}



/* For transition*/

.hidden{
    opacity: 0;
    filter: blur(0.69vw);
    transform: translateX(-100%);
    transition: all 2s;
}










/*********************************************************************/




.animated {
    opacity: 0;
    transition: opacity 3s ease-out, transform 1s ease-out;
    margin-top: 4.17vw;
}


.slide-in {
    transform: translateX(-100%);
}


.fade-in {
    transform: translateY(50%);
}


.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}




/*********************************************************************/

/* Specific Font sizes */
.hidden .coordinates{
    font-size: 5vw;
}

.hidden .hidden{
    font-size: 1.94vw;
}

.pro-profile h4{
    text-align: center; 
    font-size: 5vw;
}
.pro-profile h4{
    text-align: center; 
    font-size: 5vw;
}

.animated h4{
    text-align: center; 
    font-size: 5vw;
}

.formations h2{
    text-align: center; 
    font-size: 5vw;
}

.formations .formations-container{
    font-size: 1.94vw;
}

.typewriter_0 h5{
    font-size: 2.5vw;
}

.competences h2{
    font-size: 5vw;
}

.competence-item h3{
    font-size: 2.5vw;
}

.projects-container h2{
    font-size: 5vw;
    border-bottom: 0.14vw solid rgb(28, 8, 139);
}

.project-item h3{
    font-size: 2.5vw;
}

.languages-container h2{
    font-size: 5vw;
    border-bottom: 0.14vw solid rgb(28, 8, 139);
}
/*********************************************************************/
/* For the photos */



.isima-photo {
    width: 62.50vw;
    height: auto;
    display: flex;
}

.data-photo {
    width: 62.50vw;
    height: auto;
    display: flex;
}

.ipest-photo {
    width: 62.50vw;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    border-radius: 20%; 
}




.lycee-photo {
    width: 62.50vw;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    border-radius: 20%; 
}
/*********************************************************************/


/* Professional profile and Career Path container styles */



.pro-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
}


.pro-profile {
    flex: 1; 
    margin: 0 0vw; 
    max-width: 27.78vw; 
}


.pro-container .animated {
    flex: 1; 
    margin: 0 2.778vw;
    max-width: 55.56vw; 
}



#typewriter {
    font-size: 1.94vw;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 


    color: #ffffff;
    background-color: #101018;
    padding: 0.69vw;
    border-radius: 0.5556vw;
    box-shadow: 0.69vw 0.69vw 6.94vw rgba(105, 3, 3, 0.877);
    line-height: 1.6;
    margin: 0.69vw 0;
    max-width: 27.78vw;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
}




.typewriter_0 {
    font-size: 1.94vw;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 


    color: #ffffff;
    background-color: #101018;
    padding: 0.69vw;
    border-radius: 0.5556vw;
    box-shadow: 0.69vw 0.69vw 6.94vw rgba(5, 3, 105, 0.877);
    line-height: 1.6;
    margin: 0.69vw 0;
    max-width: 55.56vw;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
}



.highlight{
    color:#d69d00
}



/*********************************************************************************************/

/* Add a go top button*/

.gotopbtn{
    position: fixed;
    width: 3.47vw;
    height: 3.47vw;
    background: #824dd6;
    bottom: 2.78vw;
    right: 3.47vw;
    border-radius: 50%;
    box-shadow: 0 0.28vw 0.56vw 0 rgba(0, 0, 0, 0.2); 
    text-decoration: none;
    text-align: center;
    line-height: 3.47vw;
    color: white;
    font-size: 1.53vw;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
    cursor: pointer; 
}

.gotopbtn:hover {
    background: #6231b1;
    box-shadow: 0 0.42vw 0.83vw 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-0.35vw);
}






/*****************************************************************************************/

/* Now for formation we have to add subjects */


.clickable-image {
    cursor: pointer; 
    position: relative; 
    transition: filter 0.3s ease;
}

.clickable-image:hover {
    filter: brightness(3); 
}




.subject-list {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: 0 0.35vm 1.04vw rgba(0,0,0,0.3);
    transition: all 0.3s ease, opacity 0.5s, transform 0.5s;
    max-height: 13.89vw; 
    max-width: 34.72vw;
    left:0;
  
}



.subject-list.show {
    display: block;
    overflow-y: auto; 
    left:0;
}

.subject-list .subject {
    padding: 0.14vw 0.14vw; 
    font-size: 1.67vw; 
    margin-bottom: 0vw; 
    line-height: 1.6;
    border-bottom: 0.07vw solid #444;
}

.clickable-image:hover {
    filter: brightness(1.2);
    cursor: pointer; 
}

.close-btn {
    position: absolute;
    top: 0.35vw;
    right: 0.69vw;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.39vw;
    cursor: pointer;
}


/*********************************************************************************************/

/* The skills part*/

.competences-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.competence-item {
    flex-basis: 45%;
    margin: 0.69vw;
    padding: 1.39vw;
    border-radius: 0.35vw;
    background-color: #222121; 
    font-size: 1.94vw;
    opacity: 0;
    transform: translateY(1.39vw);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transition-delay: 0s;
}

.competence-item.show {
    opacity: 1;
    transform: translateY(0);
}

.competence-item h3 {
    margin-top: 0;
}



.competence-item:nth-child(1).show {
    transition-delay: 0.3s;
    box-shadow: 0 0.69vw 1.39vw rgba(0, 123, 255, 0.5); 
}

.competence-item:nth-child(2).show {
    transition-delay: 0.6s;
    box-shadow: 0 0.69vw 1.39vw rgba(40, 167, 69, 0.5); 
}

.competence-item:nth-child(3).show {
    transition-delay: 0.9s;
    box-shadow: 0 0.69vw 1.39vw rgba(255, 193, 7, 0.5); 
}

.competence-item:nth-child(4).show {
    transition-delay: 1.2s;
    box-shadow: 0 0.69vw 1.39vw rgba(220, 53, 69, 0.5); 
}



/*****************************************************************************************/



.main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1.39vw 0;
}

.projects-container, .languages-container {
    flex-basis: 45%; 
    margin: 0.69vw;
}

.project-item {
    background-color: #3f0101; 
    padding: 1.39vw;
    border-radius: 0.69vw; 
    margin-bottom: 1.39vw;
    box-shadow: 0 3.47vw 6.94vw rgba(0, 0, 0, 0);
    transition: transform 0.5s ease-out, box-shadow 0.3s ease-out;
    opacity: 0;
    transform: translateY(1.39vw);
    border-left: 0.35vw solid #460606; 
    position: relative; 
    font-size: 1.67vw;
}

.project-item.show {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 3.47vw 6.94vw rgba(0, 0, 0, 0);
}

.project-item:hover {
    box-shadow: 0 1.74vw 3.47vw rgba(0, 4, 255, 0.75);
}





.project-item a {
    color: #ff8a2b;
    text-decoration: none;
    font-size: 1.94vw;
}

.project-item a:hover {
    text-decoration: underline;
}

.language-item {
    background-color: #0a013f; 
    padding: 1.39vw;
    border-radius: 0.69vw; 
    margin-bottom: 1.39vw;
    box-shadow: 0 3.47vw 6.94vw rgba(0, 0, 0, 0);
    transition: transform 0.5s ease-out, box-shadow 0.3s ease-out;
    opacity: 0;
    transform: translateY(1.39vw);
    border-left: 0.35vw solid #100646; 
    position: relative; 
    font-size: 2vw;
}



.language-item.show {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 3.47vw 6.94vw rgba(0, 0, 0, 0);
}

.language-item:hover {
    box-shadow: 0 1.74vw 3.47vw rgba(7, 52, 148, 0.75);
    background-color: rgb(49, 40, 163); 
}



/****************************************************************/


.hobbies-container {
    padding: 1.39vw;
    margin-top: 1.39vw;
    border-radius: 0.56vw;
    box-shadow: 0 0.28vw 0.56vw rgba(0, 0, 0, 0.2);
}

.hobbies-container h2 {
    font-size: 5vw;
    margin-top: 0;
    padding-bottom: 0.69vw;
    border-bottom: 0.14vw solid #007bff;
}

.hobby-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.69vw;
}

.hobby-item p{
    font-size: 2.5vw;
    color: orange;
}

.hobby-icon {
    width:6.94vw; 
    height: auto;
    margin-right: 0.69vw;
}


.hobby-item:hover {
    transform: scale(3);
    transition: transform 0.3s ease-in-out;
}



/************************************************************************************/


footer {
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 1.04vw 0;
    font-size: 0.97vw;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    margin: auto;
    width: 80%; 
}








/* Responsive design */ 


/* media for a tablet */
@media (max-width: 768px) {

    .main-nav {
        flex-direction: column;
    }

    .main-nav a{
        font-size: 2vw;
        padding: 1vw;
    }

    .main-nav a:hover {
        background-color: #666;
    }

    

    .profile-photo{
        width: 50vw;
        height: 50vw;
    }

    .name-title h1{
        font-size: 6vw;
    }

    .name-title .title{
        font-size: 4.5vw;
    }

    .pro-container, .competences-container, .main-container{
        flex-direction: column;
        align-items: center;
    }

    .pro-profile, .pro-container .animated, .competence-item, .project-item, .language-item {
        max-width: 80vw;
        margin: 1vw 0;
    }

    .isima-photo, .ipest-photo, .lycee-photo .data-photo {
        width: 80vw;
    }


    
    .formations h2, .competences h2, .projects-container h2, .languages-container h2 {
        font-size: 4vw; 
        margin-bottom: 2vw;
    }


    .project-item p {
        font-size: 1.94vw;
    }

    .language-item {
        font-size: 3vw;
    }
}