/*----------------------------------------------------------------------------------------------------------*/
/* ---------------------               Style sheet for the website            ------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

/*********************************************************************/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
}


/*********************************************************************/


/* For the fixed section : */

.fixed-section {
    width: 40%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: #f4f4f4; 
}

/* for profile division : */

.profile-content {
    display: flex;
    align-items: flex-start;
}

.profile-photo {
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    margin-bottom: 20px;
}


/* for name and title division : */

.name-title {
    align-self: flex-start;
    margin: 20px;
    float:right;
}

.name-title h1 {
    font-weight: bold; 
    font-size:30px;  
    color: #2c3e50;
}

.name-title .title {
    font-size: 30px; 
    font-weight: bold; 
    color: #0b7738;
}


/* for contact info division : */

.contact-info p, .bio {
    margin: 20px 20px;
    font-size: 16px;
}

.contact-info .coordinates{
    font-size: 24px;
    font-weight: bold;
    color: #001429;

}


a {
    text-decoration: none; 
    color: inherit; 
}

a:hover, a:focus {
    text-decoration: underline; 
}



/*********************************************************************/

/* For the scroll section : */

.scroll-section {
    width: 60%;
    margin-left: 45%;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;

}


/* For the description of profile : */

.description .pro-profile{
    
    color: #333;
    font-size: 28px;
}


.description .bio {

    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin: 10px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; 
    height: auto; 
}

.description .bio:first-letter {
    font-size: 150%;
    color: #27ae60;
    
}

.description .bio strong {
    color: #2c3e50;
    font-weight: bold;
}


/*********************************************************************/