/*----------------------------------------------------------------------------------------------------------*/
/* ---------------------               Style sheet for the website            ------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


/*********************************************************************/
body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 70vh;
}

div{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 40vh;

}

/*********************************************************************/


.profile-photo {
    width: 500px;
    height: 500px; 
    border-radius: 45%; 
}


/* for name and title division : */

.name-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    animation: scrollLeft 9s linear infinite;
}

.name-title h1 {
    font-weight: bold; 
    font-size:100px;  
    color: #497199;
    margin: 0;

    
}

@keyframes scrollLeft {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-3%); }
    50% { transform: translateX(0); }
    75% { transform: translateX(3%); }
}



.name-title .title {
    font-size: 82px; 
    font-weight: bold; 
    color: #0b7738;
    margin: 0;
}




a {
    text-decoration: none; 
    color: inherit; 
}

a:hover, a:focus {
    text-decoration: underline; 
}



/* For transition*/

.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 2s;
}










/*********************************************************************/




.animated {
    opacity: 0;
    transition: opacity 3s ease-out, transform 1s ease-out;
}


.slide-in {
    transform: translateX(-100%);
}


.fade-in {
    transform: translateY(50%);
}


.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}




/*********************************************************************/

/* Specific Font sizes */
.hidden .coordinates{
    font-size: 72px;
}

.hidden .hidden{
    font-size: 28px;
}

.pro-profile h4{
    text-align: center; 
    font-size: 72px;
}
.pro-profile h4{
    text-align: center; 
    font-size: 72px;
}

.animated h4{
    text-align: center; 
    font-size: 72px;
}

.formations h2{
    text-align: center; 
    font-size: 72px;
}

.formations .formations-container{
    font-size: 28px;
}

.typewriter_0 h5{
    font-size: 36px;
}


/*********************************************************************/
/* For the photos */

.ipest-photo {
    scale: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    border-radius: 20%; 
}




.lycee-photo {
    scale: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    border-radius: 20%; 
}
/*********************************************************************/


/* Professional profile and Career Path container styles */



.pro-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
}


.pro-profile {
    flex: 1; 
    margin: 0 0px; 
    max-width: 400px; 
}


.pro-container .animated {
    flex: 1; 
    margin: 0 40px;
    max-width: 800px; 
}



#typewriter {
    font-size: 28px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 


    color: #ffffff;
    background-color: #101018;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 100px rgba(105, 3, 3, 0.877);
    line-height: 1.6;
    margin: 10px 0;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
}




.typewriter_0 {
    font-size: 28px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 


    color: #ffffff;
    background-color: #101018;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 100px rgba(5, 3, 105, 0.877);
    line-height: 1.6;
    margin: 10px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
}



.highlight{
    color:#d69d00
}



/*********************************************************************************************/